.training_class{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 1px 1px #777777;
    justify-content: space-between;
    text-decoration-line: underline;
}



<span>03 apr 2019<br><img src=""><span>You are enrolled</span></span> <span>Pinnacle,St.Marks Road</span> <span>Refresh workshop<br>Dr. Shashi kad</span>
